<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.hello" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Mapa do Icaro</name>
    <description>
        Testando, Testando e Testando!
    </description>
    <author email="icaroifg@uvic.ca" href="http://cordova.io">
	        Icaro F. G.
    </author>
    <content src="index.html" />
    <access origin="*" />
    <icon src="www/img/ICON.png" platform="ios" width="57" height="57" density="mdpi" />
</widget>
